/* General Default properties is applied */
*{
    padding: 0;
    border: none;
    font-family: 'Courier New', Courier, monospace, "kallisto", sans-serif, ;
    margin: 0; 
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0.5rem; 
    border: none;
}

::-webkit-scrollbar-track {
    background-color: rgb(4, 4, 49); 
    border: none; /
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#09fff38f,rgba(73, 156, 215, 0.627)); 
    border-radius: 0.375rem; /* Radius of the scrollbar thumb */
}
@keyframes fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.6; 
    }
    100% {
      opacity: 1;
    }
}


#login-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; 
    background-image: url("/Project-HarmoniX/media/login-backdrop.png");
    background-size: cover; 
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}
#login-dialog{
    z-index: 10000; 
    color: #fff;
    position: fixed;
    align-self: center;
    justify-self: center;
    height: 30rem;
    width:27rem;
    background: linear-gradient(#040000, #2a128099,#040000);
    display:flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    border-radius: 7rem;
    box-shadow: 0px 0px 60px rgba(47, 213, 235, 0.705), 0px 0px 30px rgba(112, 241, 112, 0.562), 0px 0px 90px rgba(10, 5, 84, 0.891);
}
.full-logo{
    justify-content: center;
    display:flex;
    align-items: center;
}
.logo-name-dialog{
    margin-left: 0.4rem;
    align-items: center;
    justify-content: center; 
    padding-top: 2rem; 
}
.logo-symbol-dialog{
    align-items: center;
    justify-content: center;
    padding-top: 1.7rem;
}
#logo-symbol-dialog{
    font-size:3.150rem ;
    color:rgb(26, 135, 46);
}
#logo-name-dialog{
    font-family : Lucida Console;
    text-align: center; 
    justify-content: center;  
    letter-spacing: 0.18rem;
    color: white;
}
#slogan-dialog{
    font-family: Courier New;
    text-align: center;
    color:rgb(239, 177, 61);
    font-weight: 549; 
    justify-content: center; 
    letter-spacing: 0.03rem;
}
.welcome-dialog{
    margin-top: 0.3rem;
    font-size: 1.6rem;
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(209, 219, 238);
    padding: 0.8rem;
}
#login-to-spotify{
    color: #29d453e1;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#spotify-login-btn{
    margin-top: 3rem;
    height: 2.1rem;
    background-color:rgba(135, 135, 210, 0.565) ;
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.13rem;
    font-weight: bold;
    align-items: center;
    border: none;
    outline: none;
    animation: fade 1s infinite;
}
#spotify-login-btn:hover{
    background-color:rgba(135, 203, 243, 0.682) ;
    border-radius: 0.4rem;
    box-shadow: 0.255rem 0.255rem 0.9rem  rgba(158, 162, 109, 0.465);
    font-weight: bold;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    opacity: 1;
    box-shadow: 0.255rem 0.255rem 0.9rem  rgba(71, 219, 152, 0.557);
    animation: none;
}
#spotify-login-btn:active{
    background-color: rgb(25, 25, 83);
    color: rgb(232, 195, 10);
    animation: none;
}
/* Handling Background */
.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
    background-color: black; 
    filter: blur(2px);
    background-image: url("/Project-HarmoniX/media/login-backdrop.png");
}   
/* #Overlay_Video{
    filter: blur(10px);
    opacity: 0.4    ;
} */
/* Top Header Bar */
.nav-bar{
    justify-content:left;
    display:flex;
    align-items: center;
    position: fixed;
    top: 0rem;
    left: 0rem;
    background: linear-gradient(#00091f, #000000,#00091f);
    width: 100%;
    z-index: 1000;
    padding-left: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
    
}

/* Website Logo and Symbol */
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.logo-name{
    margin-left: 0.4rem;
    align-items: center;
    justify-content: center;
}
#logo-symbol{
    font-size:3.150rem ;
    color:rgb(26, 135, 46);
}
#logo-name{
    font-family : Lucida Console;
    text-align: center; 
    justify-content: center;  
    letter-spacing: 0.18rem;
    color: white;
}
#slogan{
    font-family: Courier New;
    text-align: center;
    color:rgb(239, 177, 61);
    font-weight: 549; 
    justify-content: center; 
    letter-spacing: 0.03rem;
}

/* Adding styles to search bar */
.nav-search-bar{
    margin-left: 7rem;
    justify-content: center;
    display: flex;
    align-items: center;
    height:1.7rem;
    border: 0.01rem solid rgb(99, 99, 227);
    border-radius: 1rem;
    opacity: 0.6;
    transition: opacity 0.4s ease-out; 
}
.nav-search-bar:hover{
    opacity: 1;
    box-shadow: 0.25rem 0.25rem 0.9rem  rgba(71, 180, 219, 0.487);
}
.nav-search-bar:focus-within{   
    opacity: 1;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6));
    box-shadow: 0 0 2.2rem 0.17rem rgba(52, 176, 221, 0.417);
}
#nav-select-category{
    border: none;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: auto;
    background-color: rgb(121, 121, 195);
    color: white;
    padding:0.3rem;
    outline: none;
    text-align: center;
}
#nav-input-bar{
    border: none;
    width: 27rem;
    height: 100%;
    text-align: left; 
    background-color: white;  
    padding:0.3rem;
    outline: none;
    text-decoration: none;
    caret-color: rgb(52, 169, 236);
}
#nav-search-button{
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 100%;
    border: none;
    width:12%;
    padding:0.3rem;
    outline: none;
    font-size: 0.8rem;
    transition: background-color 0.4s ease-out;
    color: white;
    background-color: rgb(171, 171, 210);
}
#nav-search-button:hover{
    opacity: 1;
    background-color:rgb(52, 169, 236) ;
    cursor: pointer;
}
#nav-search-button:active{
    background-color: rgb(25, 25, 83);
    color: white;
} 
.nav-left-btns{
    display: flex;
    flex-direction: row;
}
.log-in-out-btns{
    margin-left: 14rem;
    height: 2.1rem;
    background:linear-gradient( rgb(16, 108, 221), #6223a975) ;
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.13rem;
    transition: box-shadow 0.3s ease;
}
#logout-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in-out-btns:hover{
    background-color:rgba(135, 203, 243, 0.682) ;
    border-radius: 0.4rem;
    box-shadow: 0.25rem 0.255rem 0.3rem  rgba(158, 162, 109, 0.465);
    font-weight: bold;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 8px 16px rgba(171, 153, 20, 0.47);
}
.log-in-out-btns:active{
    background-color: rgb(25, 25, 83);
    color: white;
}
.sidebar{
    position:fixed;
    top: 5.9rem;
    left:0.7rem;
    padding: 0.5rem;
    display: flex;  
    flex-direction: column;
    background:linear-gradient(#6223a96d, rgba(16, 108, 221, 0.405), #232ca96d, #6223a96d) ;
    border-radius: 0.35rem;
    align-items: center;
    width:fit-content; 
}
.sidebar-btn{
    height: 2rem;
    width: 14rem;
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-btn:hover{
    background-color: rgba(18, 189, 143, 0.589);
    border-radius: 2rem;
    box-shadow: 0.255rem 0.255rem 0.9rem  rgba(207, 219, 71, 0.465);
    font-weight: bold;
    transition: background-color 0.08s ease-out;
   
}
.sidebar-btn:active{
    background-color: rgba(25, 25, 83, 0.796);
    color: rgb(182, 210, 25);
}
#player{
    margin: 10px auto;
    justify-self: center;
    align-self: center;
}
.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333; /* Dark background color */
    text-align: center;
}

#player {
    width: 100%; /* Set the width of the audio player */
    margin: 0;
    display: block;
    border-radius: 0px !important;
    border: none;
    padding: none;
}

/* Style the progress bar */
#player::-webkit-media-controls-panel {
    background: linear-gradient(rgb(2, 7, 25), rgba(1, 0, 2, 0.89))
}

#player::-webkit-media-controls-timeline {
    background-color:transparent;/* Semi-transparent white */
    border-radius: 0px;
}

#player::-webkit-media-controls-current-time-display,
#player::-webkit-media-controls-time-remaining-display {
    color: #fff; /* White text color */
}
#player::-webkit-media-controls-enclosure {
    border-radius: 0;
}
/* Style the play/pause button */
#player::-webkit-media-controls-play-button {
    background-color: #1db954; /* Spotify green */
    border-radius: 50%; /* Circular button */
    outline: none;
}

#player::-webkit-media-controls-play-button:hover {
    background-color: #169743; /* Darker shade on hover */
}

/* Style the volume slider */
#player::-webkit-media-controls-volume-slider-container {
    display: none; /* Hide the volume slider */
}

/* Hide the default volume icon */
#player::-webkit-media-controls-mute-button {
    display: none;
}
.content{
    height: fit-content;
    width: 71rem;
    transform: translate(17rem, 5rem);  
    padding-bottom: 4rem; 
}
.section{
    padding-top: 0.6rem;
}
 .section-name{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.09rem;
    font-size: 1.5rem; 
    display: flex;
    align-items: center; 
    justify-content: start;
    flex-wrap: wrap;   
    padding-left: 1.1rem; 
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background: linear-gradient(0.25turn, #5d76c86d,#4c060600, rgba(0, 0, 0, 0.162));
    border-top-left-radius: 2rem ;
    border-bottom-left-radius: 2rem;
}
#artstation-icon{
    color: #0fd7c395;  
}
#AI-icon{
    color: rgb(0, 6, 11);
}
#home-icon{
    color:rgb(0, 6, 11);
}
#trend-icon-1{
    color: rgba(255, 0, 174, 0.737);
}
#trend-icon-2{
    color: rgba(255, 0, 174, 0.737);
}
#logout-icon{
    color: rgb(39, 2, 46);
}
#party-icon{
    color: rgba(135, 90, 6, 0.764);
}
.section-name li{
    margin-bottom: 2px;
    list-style: none;
}
.section-name:hover{
    cursor:default;
    
}
.more-btn-home{
    font-size: 1.7rem;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    margin-left: 0.4rem;
    display: flex;
    justify-content: center ;
    line-height: 1.75rem;
    color: rgb(220, 220, 220);
    background-color: rgba(171, 171, 210, 0.572);
    outline: none;
    border: none;
    transition: background-color 0.4s ease-out;
}
.more-btn-home:hover{
    opacity: 1;
    background-color:rgb(52, 169, 236) ;
    cursor: pointer;
    box-shadow: 0.255rem 0.255rem 0.9rem  rgba(71, 179, 219, 0.6);
}
.more-btn-home:active{
    background-color: rgb(25, 25, 83);
    color: rgb(231, 195, 36);
} 
.material{
    display: flex;
    margin-top: 0.4rem;
    padding-top: 0.9rem;
    padding-bottom: 1.3rem;
    margin-bottom: 0.6rem;
    gap: 1rem;
    overflow: auto;
    background: linear-gradient(#0389f777,rgba(15, 1, 35, 0.522), #01294a1c);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-left: 0.7rem;
    align-items: center;
}


.material::-webkit-scrollbar {
  height: 0.7rem; 
}
.material::-webkit-scrollbar-track {
    background: transparent; 
}
.material::-webkit-scrollbar-thumb {
    background: linear-gradient(#232ca96d, rgba(219, 210, 210, 0.405), #232ca96d) ;
    border-radius: 6rem;
    
}
.material::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#232ca9, rgb(219, 210, 210), #232ca9) ;
}
.card{
    background: linear-gradient(#010d2bcb, #0000009b,#010d2dbc, rgba(255, 255, 255, 0.145));
    height: fit-content;
    width:18rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:first baseline;
    border-radius: 2rem;
    transition: box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
    
}
.card:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px 2px rgba(24, 222, 159, 0.488), 2px 4px 10px 3px rgba(222, 209, 24, 0.488) ;
    transform: scale(1.07);
}
.card:active{
    box-shadow: 2px 2px 10px 7px rgba(255, 255, 255, 0.722)
}
.card img{
    height: 13rem;
    width:13rem;
    border-radius: 50%;
    margin: 0.3rem;
    border: 0.25rem double rgb(121, 121, 195);  
}
.card-name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-top: 0.6rem; 
}
.stat-num{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1rem;
    color: #e4a91d;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

