<video autoplay loop muted class="video-background">
    <source src="public-media/Background.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<header class="nav-bar">
    <a href="http://localhost:2424" class="logo">
        <div class="logo-symbol">
            <h1 id="logo-symbol"> &#119073;</h1`>
        </div>
        <div class="logo-name">
            <h1 id="logo-name">HarmoniX</h1>
            <p id="slogan">Music To Your Mood</p>
        </div>
    </a>
    <div class="nav-search-bar">
        <select id="nav-select-category" name="category">
            <option value="All" selected>All Categories</option>
            <option value="track">Songs</option>
            <option value="artist">Artists</option>
            <option value="album">Albums</option>
            <option value="playlist">Playlists</option>
            <option value="show">Shows</option>
            <option value="episode">Episodes</option>
        </select>
        <input id="nav-input-bar" type="text" placeholder="Search to match your mood..." size="37" maxlength="90"
            minlength="1" spellcheck="false">
        <button id="nav-search-button">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <div class="nav-left-btns">
        <button id="profile-btn">
            <img src="../public-media/profile-pic.png" alt="DP" id="profile-img">
            <p id="username">fetching..</p>
        </button>
        <button id="logout-btn" class="log-in-out-btns"><i class="<%=iconClasses[0]%>"
                id="logout-icon"></i>&nbsp;Logout</button>         
    </div>
</header>
<nav class="sidebar">
    <button class="sidebar-btn"><i class="<%=iconClasses[1]%>" id="home-icon"></i>&nbsp;Home</button>
    <button class="sidebar-btn">Create using AI&nbsp;
        <i class="<%=iconClasses[2]%>" id="AI-icon"></i>
    </button>
    <button class="sidebar-btn">Artist's Feed</button>
    <button class="sidebar-btn">For You</button>
    <button class="sidebar-btn">Virtual Concerts</button>
    <button class="sidebar-btn">About</button>
</nav>
