h1{
    color :#5c061a;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color : #221c7c;
    text-align: left;
    font-family: serif;
}
p{
    color: black;
    text-align: justify;
}