.smile{
    background-color: rgba(238, 197, 12, 0.799);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.right{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 59px;
    left: 40px;
}
.left{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 29px;
    left: 130px;
}
.mouth{
    background-color: rgb(145, 10, 10);
    height:25px;
    width: 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    top: 75px;
    left: 60.1px
}