@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.card {
    background: linear-gradient(#010d2bcb, #0000009b, #010d2dbc, rgba(255, 255, 255, 0.145));
    height: 25.3rem;
    width: 18rem;
    padding: 1rem; /* Added padding for inner content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    transition: box-shadow 0.2s ease-in-out;
    margin: 1rem;
}

.card-details {
    padding: 0 1rem; /* Added padding for better spacing */
    text-align: center; /* Center align text */
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card-photo {
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
    object-fit: cover;
}

.card-name {
    font-weight: 600;
    font-size: 1.2rem;
    color: #fff;
    margin-top: 0.5rem;
}

.card-stat {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0.2rem;
}

.card-stat-3 {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
}

.play-btn {
    background: rgba(96, 147, 163, 0.8);
    color: #fff;
    border: none;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.play-btn:hover {
    background-color: #87ebd4;
}

.play-btn:active {
    background-color: #4682B4;
}

.spotify-logo {
    height: 2rem; /* Set height */
    width: 2rem; /* Set width */
    border-radius: 50%; /* Keep the logo circular */
    opacity: 0.6; /* Make it slightly transparent */
    margin-bottom: 0.5rem; /* Add some spacing below the logo */
}

.spotify-logo a {
    display: block; /* Ensure it takes up space */
    height: 100%; /* Ensure the anchor takes up the height */
    width: 100%; /* Ensure the anchor takes up the width */
}

.spotify-logo img {
    height: 100%; /* Make image fill the container */
    width: 100%; /* Make image fill the container */
    border-radius: 50%; /* Ensure the image is circular */
    object-fit: cover; /* Ensure image covers its container without distortion */
}
