.logo {
  display: flex; 
  align-items: center;
  justify-content: center;  
  text-decoration: none;
}

.logo-name {
  margin-left: 0rem;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text */
}

#logo-symbol {
  font-size: 3.6rem; 
  color: rgb(26, 135, 46);
}

#logo-name {
  font-family: Lucida Console;
  text-align: center; 
  justify-content: center;  
  letter-spacing: 0.18rem;
  color: white;
  font-size: 2rem;
}

#slogan {
  font-family: Courier New;
  text-align: center;
  color: rgb(239, 177, 61);
  font-weight: 549; 
  justify-content: center; 
  letter-spacing: 0.03rem;
}

/* Styles for the Powered By section */
.powered-by {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 0.5rem; /* Space between slogan and Powered By */
}

#powered-text {
  color: white; /* Color for Powered By text */
  margin-right: 0.5rem; /* Space between text and logos */
  font-weight: bold; /* Make text bold */
}

.logo-icon {
  width: 24px; /* Set appropriate width */
  height: 24px; /* Set appropriate height */
  margin: 0 5px; /* Space between logos */
}
