.nav-bar{
    justify-content:left;
    display:flex;
    align-items: center;
    position: fixed;
    top: 0rem;
    left: 0rem;
    background: black;
    width: 100%;
    z-index: 1000;
    padding-left: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
    
}