.nav-left-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-btn {
    background-color: transparent;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    overflow: hidden;
    cursor: pointer;
}

#profile-img {
    border-radius: 50%;
    object-fit: cover;
    height: 2.5rem;
    width: 2.5rem;
}

#username {
    color: white;
    background: black;
    font-size: 1.2rem;
    padding: 0.3rem;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .profile-btn {
        margin-left: 0;
    }
    #profile-img {
        height: 2rem;
        width: 2rem;
    }
    #username {
        font-size: 1rem;
        padding: 0.2rem;
    }
}
