#nav-search-button{
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 100%;
    border: none;
    width:12%;
    padding:0.3rem;
    outline: none;
    font-size: 0.8rem;
    transition: background-color 0.4s ease-out;
    color: white;
    background-color: rgb(171, 171, 210);
}
#nav-search-button:hover{
    opacity: 1;
    background-color:rgb(52, 169, 236) ;
    cursor: pointer;
}
#nav-search-button:active{
    background-color: rgb(25, 25, 83);
    color: white;
} 
.nav-left-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.log-in-out-btns{
    margin-left: 2rem;
    height: 2.1rem;
    background:linear-gradient( rgb(16, 108, 221), #6223a975) ;
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.13rem;
    transition: box-shadow 0.3s ease;
}
#logout-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in-out-btns:hover{
    background-color:rgba(135, 203, 243, 0.682) ;
    border-radius: 0.4rem;
    font-weight: bold;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    opacity: 1;
}
.log-in-out-btns:active{
    background-color: rgb(25, 25, 83);
    color: white;
}
#profile-img {
    border-radius: 50%;
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}

.profile-btn {
    background-color: transparent;
    height: 3rem;
    width: 11rem;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: start; 
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
}
.profile-btn:hover{
    border-radius: 0.4rem;
    font-weight: bold;
    transition: background-color 0.2s ease-out;
    cursor: pointer;
    opacity: 1;
    
}
#username {
    color: white;
    background: black;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}