.nav-search-bar {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    height: 1.7rem;
    border: 0.01rem solid rgb(99, 99, 227);
    border-radius: 1rem;
    opacity: 0.6;
    transition: opacity 0.4s ease-out;
}

.nav-search-bar:hover {
    opacity: 1;
}

#nav-select-category, #nav-input-bar, #nav-search-button {
    padding: 0.3rem;
}

#nav-select-category {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#nav-input-bar {
    width: 20rem;
}

@media (max-width: 768px) {
    .nav-search-bar {
        margin-left: 0;
        width: 100%;
        justify-content: space-between;
    }
    #nav-input-bar {
        width: 12rem;
    }
}
