.section {
  padding-top: 0.6rem;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1rem;
  background: linear-gradient(#0389f777, rgba(15, 1, 35, 0.522), #01294a1c);
  border-radius: 2rem;
  padding: 1rem;
}

.track-cards {
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.slider-btn {
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

@media (max-width: 768px) {
  .slider-container {
    padding: 0.5rem;
  }
  
  .slider-btn {
    font-size: 1.5rem;
  }
  
  .track-cards {
    gap: 0.5rem;
  }
}
