.section {
  padding-top: 0.6rem;
  background: transparent; /* Set to your desired background */
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
  background: linear-gradient(#0389f777, rgba(15, 1, 35, 0.522), #01294a1c);
  border-radius: 2rem;
  padding: 1rem;
}

.track-cards {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.slider-btn {
  background-color: #ffffffcc;
  border: none;
  font-size: 2rem;
  color: #0389f7;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  width: 50px; /* Fixed size for circular buttons */
  height: 50px; /* Fixed size for circular buttons */
  transition: background-color 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.slider-btn:hover {
  background-color: #ffffffee; /* Adjust hover color */
}

.prev-btn {
  position: absolute;
  left: 1rem; /* Adjusted for spacing */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure button is above cards */
}

.next-btn {
  position: absolute;
  right: 1rem; /* Adjusted for spacing */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure button is above cards */
}

@media (max-width: 800px) {
  .slider-container {
    padding: 0.5rem;
  }

  .slider-btn {
    font-size: 1.5rem;
    width: 40px; /* Adjust size for mobile */
    height: 40px; /* Adjust size for mobile */
  }

  .track-cards {
    gap: 0.5rem; /* Adjust spacing for mobile */
  }
}
