.sidebar{
    position:fixed;
    top: 5.9rem;
    left:0.7rem;
    padding: 0.5rem;
    display: flex;  
    flex-direction: column;
    background:linear-gradient(#6223a96d, rgba(16, 108, 221, 0.405), #232ca96d, #6223a96d) ;
    border-radius: 0.35rem;
    align-items: center;
    width:fit-content; 
}