.sidebar {
    position: fixed;
    top: 5.9rem;
    left: 0.7rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#6223a96d, rgba(16, 108, 221, 0.405), #232ca96d, #6223a96d);
    border-radius: 0.35rem;
    align-items: center;
    width: fit-content;
  }
  
  .hamburger-btn {
    position: fixed;
    top: 5.9rem;
    left: 0.7rem;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #0389f7;
    cursor: pointer;
  }
  
  .mobile-sidebar {
    position: fixed;
    top: 6.9rem;
    left: 0;
    width: 100%;
    background: linear-gradient(#6223a96d, rgba(16, 108, 221, 0.405), #232ca96d);
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 800px) {
    .sidebar {
      display: none; /* Hide the sidebar on mobile */
    }
  }
  