/* General Default properties is applied */
*{
    padding: 0;
    border: none;
    font-family: 'Courier New', Courier, monospace, "kallisto", sans-serif, ;
    margin: 0; 
}
/* Handling Background */
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
    background-color: black; 
    filter: blur(2px);
}   
#content {
    position: relative;
    z-index: 1000;
    display: flex;
    color: #fff; 
    padding: 0.650rem;
    height:fit-content;
    width: fit-content;
}
/* Top Header Bar */
.nav-bar{
    justify-content: space-evenly;
    display:flex;
    align-items: center;
}
/* Website Logo and Symbol */
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.logo-name{
    margin-left: 0.4rem;
    align-items: center;
    justify-content: center;
}
#logo-symbol{
    font-size:3.150rem ;
    color:rgb(26, 135, 46);
}
#logo-name{
    font-family : Lucida Console;
    text-align: center; 
    justify-content: center;  
    letter-spacing: 0.08rem;
    color: white;
}
#slogan{
    font-family: Courier New;
    text-align: center;
    color:rgb(239, 177, 61);
    font-weight: 549; 
    justify-content: center; 
    letter-spacing: 0.03rem;
}
/* Adding styles to search bar */
.nav-search-bar{
    margin-left: 1.8rem;
    justify-content: center;
    display: flex;
    align-items: center;
    height:1.7rem;
    border: 0.01rem solid rgb(99, 99, 227);
    border-radius: 1rem;
    opacity: 0.6;
    transition: opacity 0.4s ease-out; 
}
.nav-search-bar:hover{
    opacity: 1;
    box-shadow: 0.255rem 0.255rem 0.9rem  rgba(71, 179, 219, 0.6);
}
.nav-search-bar:focus-within{   
    opacity: 1;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6));
    box-shadow: 0 0 2.12rem 0.17rem rgba(71, 179, 219, 0.6);
}
#nav-select-category{
    border: none;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 20%;
    background-color: rgb(121, 121, 195);
    color: white;
    padding:0.3rem;
    outline: none;
}
#nav-input-bar{
    border: none;
    width: 100%;
    height: 1.1rem;
    text-align: left; 
    background-color: white;  
    padding:0.3rem;
    outline: none;
    text-decoration: none;
    caret-color: rgb(52, 169, 236);
}
#nav-search-button{
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 100%;
    border: none;
    width:12%;
    padding:0.3rem;
    outline: none;
    font-size: 0.8rem;
    transition: background-color 0.4s ease-out;
    color: white;
    background-color: rgb(171, 171, 210);
}
#nav-search-button:hover{
    opacity: 1;
    background-color:rgb(52, 169, 236) ;
    cursor: pointer;
}
#nav-search-button:active{
    background-color: rgb(25, 25, 83);
    color: white;
}   
.sidebar{
    position:fixed;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color:rgba(61, 11, 149, 0.584);
    width: 15.1rem;
    margin: 0.7rem;
    margin-top: 0rem;
    border-radius: 0.35rem;
}
.sidebar-btn{
    height: 2rem;
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.78rem;
}
.sidebar-btn:hover{
    background-color: rgba(18, 189, 143, 0.589);
    border-radius: 2rem;
    box-shadow: 0.255rem 0.255rem 0.9rem  rgba(207, 219, 71, 0.465);
    font-weight: bold;
    transition: background-color 0.2s ease-out;
}
