*{
    padding: 0;
    border: none;
    font-family: 'Courier New', Courier, monospace, "kallisto", sans-serif, ;
    margin: 0; 
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0.5rem; 
    border: none;
}

::-webkit-scrollbar-track {
    background-color: rgb(4, 4, 49); 
    border: none; /
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#09fff38f,rgba(73, 156, 215, 0.627)); 
    border-radius: 0.375rem; /* Radius of the scrollbar thumb */
}