h1{
    color :#5c061a;
    text-align: center;
    font-weight: normal;
    text-decoration: #ffff00 underline;
}
h2{
    color : #221c7c;
    text-align: left;
    text-decoration: line-through;
}
p{
    color: black;
    text-align: justify;
    text-decoration: overline;
}