h1{
    color :#5c061a;
    text-align: center;
    font-size: 15px;
}
h2{
    color : #221c7c;
    text-align: left;
    font-size: 30px;
}
p{
    color: black;
    text-align: justify;
    font-size: 35px;
}