h1{
    color :#5c061a;
    text-align: center;
    font-weight: normal;
    text-decoration: #000 underline;
}
h2{
    color : #221c7c;
    text-align: left;
    text-decoration: #000 underline;
    line-height: 10;
    letter-spacing :normal;
    /* text-decoration: line-through; */
}
p{
    color: black;
    text-align: justify;
    line-height: normal;
    letter-spacing: 10px;

    /* text-decoration: overline; */
}