@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
#followbtn {
    background: linear-gradient(45deg, hsl(259, 89%, 14%), hsl(241, 100%, 70%));
    color: white;
    border: 2px solid hsl(260, 97%, 61% / 0.75); 
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    margin-top: 1.3rem;
    border-radius: 2rem;
}

#followbtn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.15);
    transition: all 0.5s ease;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 0;
}

#followbtn:hover::before {
    width: 0;
    height: 0;
}

#followbtn:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    transform: translateY(-4px);
}

#followbtn:active {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(0);
}

#followbtn span {
    position: relative;
    z-index: 1;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1rem;
}